

#map {
    height: 600px;
    width: 600px;
    border: 5px solid black;

}


.headerStyle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px;
    border: 5px solid black;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
    position: sticky;
    top: 0;
}

.pageFix {
    position: absolute;
    align-items: center;
    justify-content: center;
    left: 10%;


}



.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px auto;
  width: 100%;
 
  
 
}




#answer-buttons {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: flex-start;

}
#trivia-box {
    border: 5px solid black;
    width: 400px;
    height: 600px;
    margin-top: 20px;
   
}