#map {
    height: 600px;
    width: 1200px;
    border: 5px solid black;

}


.headerStyle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 60px;
    border: 5px solid black;
    text-align: center;
    background-image: linear-gradient(0deg, lightblue, lightgreen);
    /* background: #1abc9c; */
    color: black;
    font-size: 30px;
    position: sticky;
    top: 0;
}

.pageFix {

    display: flex;
    flex-direction: row;
    justify-content: space-between;


}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px auto;
    width: 100%;


}




#answer-buttons {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: flex-start;

}

#trivia-box {
    border: 5px solid black;
    width: 400px;
    height: 600px;
    margin-top: 20px;
    background-color: whitesmoke;
}

body {
    background-color: beige;
}