/* shrink the header vertically - CSS */
/* move the scoreboard below the header to the right of the map - HTML & CSS */
/* move the map to the left side - CSS */
/* Add buttons and put the score board above buttons - HTML & CSS */


#map {
    width: 1200px;
    border: 5px solid black;
}

/* use "." for a class name */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px auto;
  width: 100%;
 
}



.pageFix {
    left: 0;
   
}


#answer-buttons {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: flex-start;

}
#trivia-box {
    border: 5px solid black;
    width: 400px;
    height: 600px;
}

/* for elements, just use the element name */
/* div {

} */